@{

}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="@Url.Content("~/res/templates/head.css")">
</head>
<body>
    <center>
        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSdVPh-2okXxiZdb370j6WKjRZzMhkkeHKQ6_gT20xuk_0VspA/viewform?embedded=true" width="640" height="2106" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
    </center>
</body>
</html>

<style>

body {
    background-image: url("@Url.Content("~/assets/background.jpg")");
    color: hotpink;
    font-size: large;
}

</style>